@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");

.navbar__button {
  font-family: "Cabin Sketch", cursive;
  font-weight: 700;
  color: yellow;
  padding: 0.7em;
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid rgb(33, 13, 40);
  border-radius: 0.4em;
  position: relative;
  overflow: hidden;
  background: rgba(33, 13, 40, 0.7);
}

.navbar__button:hover {
  box-shadow: 1px 1px 25px 10px rgba(33, 13, 40, 0.4);
}

.selected {
  background: #ddca92;
  color: rgb(33, 13, 40);
}

.navbar__link-everyone {
  grid-row: 2 / 3;
  justify-self: end;
}

.navbar__link-favorites {
  grid-row: 2 / 3;
  justify-self: start;
}
